<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#{{ idTab1 }}"><i class="fa fa-home" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" data-toggle="tab" href="#{{ idTab2 }}">{{ tab2 }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" data-toggle="tab" href="#{{ idTab3 }}">{{ tab3 }}</a>
  </li>
</ul>