{% extends 'base.html.twig' %}

{% block title %}
	DB Show
{% endblock %}

{% block body %}
	<div class="jumbotron text-black bg-white mb-0">
		<div class="col-md-12 px-0">
			<h2 class="text-center text-uppercase font-weight-bold">Toutes les séries</h2>
			{% if is_granted('ROLE_TVSHOW_ADMIN') %}
				<div class="row justify-content-end" style="text-align:right; margin-right:20px">
					<a href="{{ path('tv_show_add') }}" class="link_admin">Ajouter une série</a>
				</div>
			{% endif %}
		</div>
	</div>

	<main role="main" class="container">
		<div class="row">
			<!-- /.filter-side -->
			{% include "partials/_filter.html.twig" %}
			<!-- / filter-side -->
			<div class="col-md-9 blog-main">
				

					{# <div class="row mx-0">
					            <div class="col-12 text-center pb-4 pt-4">
					                <a href="#" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
					                <a href="#" class="btn_pagging">1</a>
					                <a href="#" class="btn_pagging">2</a>
					                <a href="#" class="btn_pagging">3</a>
					                <a href="#" class="btn_pagging">...</a>
					                <a href="#" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
					             </div>
					        </div> #}
					{% for tvShow in tvShows %}		
					<div class="card mb-3 border-0">
						<div class="row no-gutters">
							<div class="col-12">
								<div class="card-body">

								<a href="{{ path('tv_show_view', { 'id' : tvShow.id }) }}">
								<img src="{{ tvShow.poster }}" width="150" alt="Avatar" class="img-thumbnail float-left pull-left mr-3 border-0" >
								</a>

									<h3 class="card-title font-weight-bold"><a href="{{ path('tv_show_view', { 'id' : tvShow.id }) }}" class="link">{{ tvShow.title }}</a></h3>
									<p class="blog-post-meta">Première diffusion :
											{{ tvShow.releaseDate | date('d-m-Y') }}
											/ 
											{% for category in tvShow.categories %}
												<a href="{{ path('category_view', { 'id' : category.id }) }}">{{ category.label }}</a>,
											{% endfor %}
									<br>
										{% if tvShow.directedBy is not empty %}
											<span class="text-muted">De</span>
											<a href="">{{ tvShow.directedBy.fullName }}</a>
										{% endif %}
									<br>
									<span class="text-muted">Avec :</span>
										{% for character in tvShow.characters %}
												{{ character.name }}									
										{% endfor %}
									

									<p class="card-text">{{ tvShow.synopsis }}</p>
									
									<p class="card-text">
										<small class="text-uppercase font-weight-bold">imdb Rating </small>	<br>
									
									{% for x in 1..5 %}
										{% set starClass = (tvShow.rating / 2 >= x ? "fa fa-star gold" : "fa fa-star empty") %}
										<i class="{{ starClass }}" aria-hidden="true"></i>
									{% endfor %}
									|
									{% for x in 1..5 %}
										{% if tvShow.rating / 2 >= x %}
										<i class="fa fa-star gold" aria-hidden="true"></i>
										{% elseif tvShow.rating / 2 < x %}
										<i class="fa fa-star-half gold"></i>
										{% else %}
										<i class="fa fa-star empty"></i>
										{% endif %}
									{% endfor %}



									{{ tvShow.rating / 2 }}
									
									
									</p>
								</div>
								
							</div>
							
						</div>
					</div>
					
					{% endfor %}
					<div class="row mx-auto">
						<div class="col-12 text-center pb-4 pt-4">
							{{ knp_pagination_render(tvShows) }}
						</div>
					</div>

					
					
				</div>

			</div>


		</div>


	{% endblock %}

