{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<h2>Créer un compte</h2>


	{{ form_start(userForm) }}
	{# <form method=""post"> #}

	{{ form_row(userForm.firstName) }}
	{{ form_row(userForm.lastName) }}
	{{ form_row(userForm.gender) }}
	{{ form_row(userForm.email) }}
	{{ form_row(userForm.password) }}


	<input type="submit" value="Créer un compte" class="btn btn-primary">
	{{ form_end(userForm) }}
	{# </form> #}

{% endblock %}
